<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <meta charset="UTF-8">
  <title>SupperSSH</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    
  <div class="file">
    <form action="/supper" method="POST" enctype="multipart/form-data" class="box" id="files">
        <div class="field">
          <label class="label">Fichier IPs:</label>
          <div class="control">
            <input class="input" type="file" name="IPs" accept="text/plain">
          </div>
        </div>
      
        <div class="field">
          <label class="label">Fichier CMDs:</label>
          <div class="control">
            <input class="input" type="file" name="CMDs" accept="text/plain">
          </div>
        </div>
      
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Valider</button>
          </div>
        </div>
      </form>
  </div>
  
  <div class="response">
    {% for i in ip %}
    <fieldset class="box">
      <legend class="box">for ip: {{i}}</legend>

      {% for c in cmd %}
      <fieldset class="box">
        <legend class="box">{{c}}</legend>
          reponse
        </fieldset>
      {% endfor %}<br>

    </fieldset>
    {% endfor %}
  </div>  

</body>
</html>